/* CustomerReviews.css */
.customer-reviews-section {
    margin-bottom: 100px;
  }
  
  .happy-heading {
  font-size: 48px;
}
  @media (max-width: 700px) {
    .customer-reviews-section {
      margin-bottom: 170px;
    }
    .happy-heading {
    font-size: 32px;
  }
  }
  
  .hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
